.App {
  text-align: center;
  background-color: #000;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-shadow: 0 0 1px #fff, 0 0 3px #fcee09;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  
}

.App-link {
  color: #61dafb;
}

.heart {
  color: #ff0000;
}

.small {
  font-size: 0.75rem;
}

.inputs{
  position: fixed;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input {
  min-height: 1.5rem;
}

.title {
  position: fixed;
  top: 1%;
  left: 7%
}

.question {
  position: fixed;
  top: 16%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  margin: 0 1rem 3rem 1rem;
  white-space: pre-wrap;
}

.sarcasm{
  font-style: italic;
  font-size: xx-small;
}

.submit {
  position: relative;
  grid-template-columns: 0.4fr 0.5fr 1fr;
  display: grid;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form{
  position: fixed;
}

.disclaimer {
  position: fixed;
  bottom: 3%;
  left: 0%;
  /* transform: translate(-50%, -50%); */
  font-size: xx-small;
  margin: 0 2% 0;
  color: white;
}
