.App {
  flex-flow: column wrap;
  text-align: center;
  background-color: #000;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-shadow: 0 0 1px #fff, 0 0 3px #fcee09;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  width: 100%;
  position: absolute;
  top: 0%;
}

.App-link {
  color: #61dafb;
}

.heart {
  color: #ff0000;
}

.small {
  font-size: 0.75rem;
}

.inputs{

}

.input {
  min-height: 1.5rem;
}

.title {

}

.question {
}

.card {
  margin: 0 1rem 3rem 1rem;
  white-space: pre-wrap;
}

.sarcasm{
  font-style: italic;
  font-size: xx-small;
}

.submit {

}

.form{

}

.disclaimer {
  position: absolute;
  bottom: 2%;
  font-size: xx-small;
  margin: 0 2% 0;
  color: white;
}
